{% render 'footer-base' %}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  <div class="footer__content-bottom">
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__copyright caption">
        <small class="copyright__content">
          © {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url }}
        </small>
      </div>
    </div>
  </div>
</footer>
