<div id="shopify-section-template--26608896704852__section_W933AE" class="shopify-section section-wrapper">



<div class="section-background color-scheme-1"></div>
<div class="section section--full-width color-scheme-1" data-testid="ui-test-section" style="
    
      --section-min-height: 100svh;
    

    
     --section-preview-height: 600px;
     
  ">
  <div class="custom-section-background">
    

  </div>

  <div class="border-style custom-section-content" style="--border-width: 1px; --border-style: none; --border-color:
rgb(var(--color-border-rgb) / 1.0); --border-radius:
0px; 
">
    

    <div class="
        spacing-style
        layout-panel-flex
        layout-panel-flex--row
        section-content-wrapper
         mobile-column
      " style="
        --flex-direction: row; --flex-wrap: nowrap; --flex-wrap-mobile: wrap;

--gap: 0px;

--horizontal-alignment: flex-start; --vertical-alignment: center;
--vertical-alignment-mobile: center;

        --padding-block-start: 0px;--padding-block-end: 0px;
      " data-testid="section-content">
      
  



<div class="
    group-block
    group-block--height-fill
    group-block--width-fill
    border-style
    spacing-style
    size-style
     color-scheme-5
    
  " style="
    --border-width: 1px; --border-style: none; --border-color:
rgb(var(--color-border-rgb) / 1.0); --border-radius:
0px; 

    --padding-block-start: max(20px, calc(var(--spacing-scale) * 40px));--padding-block-end: max(20px, calc(var(--spacing-scale) * 40px));--padding-inline-start: max(20px, calc(var(--spacing-scale) * 40px));--padding-inline-end: max(20px, calc(var(--spacing-scale) * 40px));
    --size-style-width: 100%;--size-style-height: 100%;--size-style-width-mobile: 100%; --size-style-width-mobile-min: 5rem;
    
  " data-testid="group-block"><div class="group-block__media-wrapper">
    <div class="background-image-container">
  

    <img src="//flowbit-demo.myshopify.com/cdn/shop/files/IMG__34.jpg?v=1759383096&amp;width=3840" alt="" srcset="//flowbit-demo.myshopify.com/cdn/shop/files/IMG__34.jpg?v=1759383096&amp;width=832 832w, //flowbit-demo.myshopify.com/cdn/shop/files/IMG__34.jpg?v=1759383096&amp;width=1200 1200w, //flowbit-demo.myshopify.com/cdn/shop/files/IMG__34.jpg?v=1759383096&amp;width=1600 1600w, //flowbit-demo.myshopify.com/cdn/shop/files/IMG__34.jpg?v=1759383096&amp;width=1920 1920w, //flowbit-demo.myshopify.com/cdn/shop/files/IMG__34.jpg?v=1759383096&amp;width=2560 2560w, //flowbit-demo.myshopify.com/cdn/shop/files/IMG__34.jpg?v=1759383096&amp;width=3840 3840w" width="3840" height="3840" loading="eager" sizes="100vw" fetchpriority="auto">
</div>


    
  </div>

  <div class="
      group-block-content
      
      layout-panel-flex
      layout-panel-flex--column
       mobile-column
    " style="--flex-direction: column; --flex-wrap: nowrap; --flex-wrap-mobile: wrap;

--gap: max(24px, calc(var(--gap-scale, 1.0) * 32px));

--horizontal-alignment: center; --vertical-alignment: center;
--vertical-alignment-mobile: center;
">
  


<a href="/collections/all" class="
    size-style
    button-secondary
    button-secondary--AcEorZFZmRlJvTEIyM__button_6t3wWm
  " style="
    --size-style-width: fit-content;--size-style-height: ;--size-style-width-mobile: fit-content; --size-style-width-mobile-min: fit-content;
    
    backdrop-filter: blur(8px);
    
  ">
  Shop man
</a>






</div>
</div>









<div class="
    group-block
    group-block--height-fill
    group-block--width-fill
    border-style
    spacing-style
    size-style
     color-scheme-5
    
  " style="
    --border-width: 1px; --border-style: none; --border-color:
rgb(var(--color-border-rgb) / 1.0); --border-radius:
0px; 

    --padding-block-start: max(20px, calc(var(--spacing-scale) * 40px));--padding-block-end: max(20px, calc(var(--spacing-scale) * 40px));--padding-inline-start: max(20px, calc(var(--spacing-scale) * 40px));--padding-inline-end: max(20px, calc(var(--spacing-scale) * 40px));
    --size-style-width: 100%;--size-style-height: 100%;--size-style-width-mobile: 100%; --size-style-width-mobile-min: 5rem;
    
  " data-testid="group-block"><div class="group-block__media-wrapper">
    <div class="background-image-container">
  

    <img src="//flowbit-demo.myshopify.com/cdn/shop/files/IMG__35.jpg?v=1759383095&amp;width=3840" alt="" srcset="//flowbit-demo.myshopify.com/cdn/shop/files/IMG__35.jpg?v=1759383095&amp;width=832 832w, //flowbit-demo.myshopify.com/cdn/shop/files/IMG__35.jpg?v=1759383095&amp;width=1200 1200w, //flowbit-demo.myshopify.com/cdn/shop/files/IMG__35.jpg?v=1759383095&amp;width=1600 1600w, //flowbit-demo.myshopify.com/cdn/shop/files/IMG__35.jpg?v=1759383095&amp;width=1920 1920w, //flowbit-demo.myshopify.com/cdn/shop/files/IMG__35.jpg?v=1759383095&amp;width=2560 2560w, //flowbit-demo.myshopify.com/cdn/shop/files/IMG__35.jpg?v=1759383095&amp;width=3840 3840w" width="3840" height="3840" loading="eager" sizes="100vw" fetchpriority="auto">
</div>


    
  </div>

  <div class="
      group-block-content
      
      layout-panel-flex
      layout-panel-flex--column
       mobile-column
    " style="--flex-direction: column; --flex-wrap: nowrap; --flex-wrap-mobile: wrap;

--gap: max(24px, calc(var(--gap-scale, 1.0) * 32px));

--horizontal-alignment: center; --vertical-alignment: center;
--vertical-alignment-mobile: center;
">
  


<a href="/collections/all" class="
    size-style
    button-secondary
    button-secondary--AUENwb2hLcTRsRGdKb__button_hX8e9b
  " style="
    --size-style-width: fit-content;--size-style-height: ;--size-style-width-mobile: fit-content; --size-style-width-mobile-min: fit-content;
    
    backdrop-filter: blur(8px);
    
  ">
  Shop woman
</a>






</div>
</div>







    </div>
  </div>
</div>





</div>